logs
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
lib/
activator-launch-1.3.2.jar
.sbtserver/connections/master.log
.sbtserver/connections/play-fork-run-5043be41-e540-4f2a-8366-5aa261b88cba.log
.sbtserver/master.log
.sbtserver/previous.log
